body{
    color: #003399;
    font-family: Candara, Arial;
    font-size: 12pt;
}
h2{
    font-size: 16pt;
}
h3{
    font-size: 14pt;
}
#wrapper{
    margin: auto;
    background-color:#add8e6;
    width: 40em;
    padding: 5px;
}
#header{
    height: 75px;
    border-bottom: 2px dotted #b2bcc6;
}
#header img{
    height: 70px;
    float: left;
    padding-right: 10px;
}
#header h2{
    padding-top: 20px;
}
#nav{
    float: left;
    width: 16em;
}
#container{
    float: right;
    width: 23em;
}
#nav li{
    padding-top: 20px;
}
#footer{
    border-top: 2px dotted #b2bcc6;
}
.snippet{
    border-left: 1px solid #003399;
    padding-left: 10px;
}
#quote{
    font-style: italic;
}